body#color{
	background-color:#F5D8A6;
}

body#color3{
	background-color:#F6B4B4;
}

body#color4{
	background-color: #E6B4F6;
}

h1{
	font-family: Times New Roman;
	font-size: 50px;
	color: white;
	text-align: center;
}


p#home{
	
	font-family: Georgia;
	color: white;
}

p.a {
  margin: 60px ;
}

p.b{
	margin: 140px;
}

p.c{
	margin: 500px;
}

p.d{
	margin: 700px;
}

p#center{
	color: white;
	width: 800px;
	text-align: center;
	font-size: 30px;
	margin: auto;
}

p#title{  
	color: white;
	font-family: Times New Roman;
	font-size: 300px;
	text-align: center;
}

p#para90{
	color: white;
	font-family: Times New Roman;
	font-size: 20px;
}

p#para20{
	color: white;
	font-family: Times New Roman;
	font-size: 30px;
	padding-top: 110px;
}

.size{
	width:90%;
}

.topmargin{
	margin-top: 700px;
}

.pdivider{
	margin-top: 200px;
}